<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
  <nav class="navbar navbar-expand-lg fixed-top ml-auto">
    <div class="container-fluid pl-5">
      <a href="#Home"><img class="navbar-brand" src="img/shop/222.png"></a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-5">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#Home">首　　頁</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">關於我們</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#shop">出借專區</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#question">常見問題</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" data-toggle="modal" data-target="#user" @click="optionIndex = 0">登　　入</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="app">
    <section id="Home">
      <img src="img/12.jpg" class="home-img">
      <div class="slogan">
        <h1>Switch</h1>
        <p>
          風靡全球、人人瘋搶的任天堂Switch，許多熱門遊戲紛紛帶起熱潮。此共享租賃網站將帶給大家多種熱門款遊戲，想要跟上電玩時代的潮流嗎?不妨玩玩看Switch吧!
        </p>
        <button class="slogan-btn"><a href="#about">查看更多</a></button>
      </div>

    </section>

    <!-- about -->
    <section id="about">
        <img src="img/shop/40.png" class="about-img"  alt="">
      <div class="row about-container">
        <div class="col-md-7 aboutus">
          <i class="fal fa-cube"></i>
          <div class="about-story">
            <h1>About Us</h1>
            <p>本網站有各式各樣的Switch相關產品，不論是設備或著是遊戲片都應有盡有，擁有專門配合的物流公司，將商品快速且安全的送達，不用購買也可享有遊戲體驗。</p>
            <p>家裡有塵封已久或是玩到不想玩的遊戲嗎？放在一旁覺得沒有運用價值了嗎？把它放到我們的平台上，租借給他人，價值從0起頭，讓大家一起共享吧！</p>
          </div>
        </div>
        <div class="col-md-5 about-info">
          <div class="info-block">
            <ul>
              <h4>店家資訊</h4>
              <li><i class="far fa-envelope"></i>&nbsp;&nbsp;Vickyvicky@1234567.com</li>
              <li><i class="fas fa-mobile-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;1234567890</li>
              <li><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;香吉市所龍區美路800號300樓</li>
              <li><i class="far fa-clock"></i>&nbsp;&nbsp;9:00~21:00</li>
            </ul>
          </div>
          <span class="yellow-block"></span>
          <div class="icon">
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/?lang=zh-tw" target="_blank"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </section>
    <!-- shop -->
    <section id="shop">
      <div class="container_fluid h-100">
        <div class="row h-100">
          <div class="col-md-2">
            <ul>
              <li @click="optionIndex = 0">熱門排行</li>
              <li @click="optionIndex = 1">運動系列</li>
              <li @click="optionIndex = 2">馬力歐系列</li>
              <li @click="optionIndex = 3">設備專區</li>
            </ul>
          </div>
          <div class="col-md-10" v-if="optionIndex == 0">
            <div class="pd-box">
              <span class="red-block">
                <h3>1</h3>
              </span>
              <img src="./img/shop/31.jpg" alt="" data-toggle="modal" data-target="#shop-window" @click="productIndex = 22">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 22"></i>
            </div>
            <div class="pd-box">
              <span class="red-block">
                <h3>2</h3>
              </span>
              <img src="./img/shop/32.jpg" alt="" data-toggle="modal" data-target="#shop-window"  @click="productIndex = 23">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 23"></i>
            </div>
            <div class="pd-box">
              <span class="red-block">
                <h3>3</h3>
              </span>
              <img src="./img/shop/33.jpg" alt="" data-toggle="modal" data-target="#shop-window"  @click="productIndex = 24">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 24"></i>
            </div>
            <div class="pd-box">
              <span class="red-block">
                <h3>4</h3>
              </span>
              <img src="./img/shop/34.jpg" alt="" data-toggle="modal" data-target="#shop-window" @click="productIndex = 25">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 25"></i>
            </div>
            <div class="pd-box">
              <span class="red-block">
                <h3>5</h3>
              </span>
              <img src="./img/shop/35.jpg" alt="" data-toggle="modal" data-target="#shop-window" @click="productIndex = 26">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 26"></i>
            </div>
            <div class="pd-box">
              <span class="red-block">
                <h3>6</h3>
              </span>
              <img src="./img/shop/36.jpg" alt="" data-toggle="modal" data-target="#shop-window"  @click="productIndex = 27">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 27"></i>
            </div>
          </div>
          <div class="col-md-10" v-if="optionIndex == 1">
            <div class="pd-box">
              <img src="./img/shop/1.jpg" alt="" data-toggle="modal" data-target="#shop-window" @click="productIndex = 0">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 0"></i>
            </div>
            <div class="pd-box">
              <img src="./img/shop/2.jpg" alt="" data-toggle="modal" data-target="#shop-window" @click="productIndex = 1">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 1"></i>
            </div>
            <div class="pd-box">
              <img src="./img/shop/3.jpg" alt="" data-toggle="modal" data-target="#shop-window" @click="productIndex = 2">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 2"></i>
            </div>
            <div class="pd-box">
              <img src="./img/shop/4.jpg" alt="" data-toggle="modal" data-target="#shop-window"  @click="productIndex = 3">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 3"></i>
            </div>
            <div class="pd-box">
              <img src="./img/shop/5.jpg" alt="" data-toggle="modal" data-target="#shop-window"  @click="productIndex = 4">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 4"></i>
            </div>
            <div class="pd-box">
              <img src="./img/shop/6.jpg" alt="" data-toggle="modal" data-target="#shop-window" @click="productIndex = 5">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 5"></i>
            </div>
            <div class="pd-box">
              <img src="./img/shop/21.jpg" alt="" data-toggle="modal" data-target="#shop-window" @click="productIndex = 20">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 20"></i>
            </div>
            <div class="pd-box">
              <img src="./img/shop/22.jpg" alt="" data-toggle="modal" data-target="#shop-window" @click="productIndex = 21">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 21"></i>
            </div>
          </div>
          <div class="col-md-10" v-else-if="optionIndex == 2">
            <div class="pd-box">
              <img src="./img/shop/7.jpg" alt="" data-toggle="modal" data-target="#shop-window" @click="productIndex = 6">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 6"></i>
            </div>
            <div class="pd-box">
              <img src="./img/shop/8.jpg" alt="" data-toggle="modal" data-target="#shop-window" @click="productIndex = 7">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 7"></i>
            </div>
            <div class="pd-box">
              <img src="./img/shop/9.jpg" alt="" data-toggle="modal" data-target="#shop-window"  @click="productIndex = 8">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 8"></i>
            </div>
            <div class="pd-box">
              <img src="./img/shop/10.jpg" alt="" data-toggle="modal" data-target="#shop-window" @click="productIndex = 9">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 9"></i>
            </div>
            <div class="pd-box">
              <img src="./img/shop/11.jpg" alt="" data-toggle="modal" data-target="#shop-window" @click="productIndex = 10">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 10"></i>
            </div>
            <div class="pd-box">
              <img src="./img/shop/12.jpg" alt="" data-toggle="modal" data-target="#shop-window" @click="productIndex = 11">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 11"></i>
            </div>
            <div class="pd-box">
              <img src="./img/shop/19.jpg" alt="" data-toggle="modal" data-target="#shop-window" @click="productIndex = 18">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 18"></i>
            </div>
            <div class="pd-box">
              <img src="./img/shop/20.jpg" alt="" data-toggle="modal" data-target="#shop-window" @click="productIndex = 19">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 19"></i>
            </div>
          </div>
          <div class="col-md-10" v-else-if="optionIndex == 3">
            <div class="pd-box">
              <img src="./img/shop/13.jpg" alt="" data-toggle="modal" data-target="#shop-window" @click="productIndex = 12">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 12"></i>
            </div>
            <div class="pd-box">
              <img src="./img/shop/14.png" alt="" data-toggle="modal" data-target="#shop-window" @click="productIndex = 13">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 13"></i>
            </div>
            <div class="pd-box">
              <img src="./img/shop/15.png" alt="" data-toggle="modal" data-target="#shop-window"  @click="productIndex = 14">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 14"></i>
            </div>
            <div class="pd-box">
              <img src="./img/shop/16.png" alt="" data-toggle="modal" data-target="#shop-window" @click="productIndex = 15">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 15"></i>
            </div>
            <div class="pd-box">
              <img src="./img/shop/17.jpg" alt="" data-toggle="modal" data-target="#shop-window" @click="productIndex = 16">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 16"></i>
            </div>
            <div class="pd-box">
              <img src="./img/shop/18.jpg" alt="" data-toggle="modal" data-target="#shop-window" @click="productIndex = 17">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 17"></i>
            </div>
            <div class="pd-box">
              <img src="./img/shop/25.jpg" alt="" data-toggle="modal" data-target="#shop-window" @click="productIndex = 28">
              <i class="fas fa-cart-plus cart-icon" data-toggle="modal" data-target="#shop-window"
                @click="productIndex = 28"></i>
            </div>
          </div>
        </div>

      </div>
    </section>
    

    <section id="question">
      <div class="QA">常見問題</div>
      <div class="qs-container">
        <div>
          <p>Q: 租借主機時是否包含JOY-CON？</p>
          <p>A: 租借主機時已附上一組JOY-CON。</p>
        </div>
        <div>
          <p>Q: JOY-CON手把的顏色有幾種選擇？</p>
          <p>A: JOY-CON手把顏色隨機出借無法選色。</p>
        </div>
        <div>
          <p>Q: 器材或遊戲片損壞／遺失該如何處理？</p>
          <p>A: 設備還回時，將依損壞程度鑑別後索取賠償金額。</p>
        </div>
        <div>
          <p>Q: 網路訂購只能用信用卡付款嗎？</p>
          <p>A: 由於店家不收取押金，因此只受理信用卡付款的方式。</p>
        </div>
        <div>
          <p>Q: 總金額有要另外付運費嗎？</p>
          <p>A: 沒有，本店家不收取任何額外的運費!</p>
        </div>
        <div>
          <p>Q:若有任何疑慮，該如何解決與聯繫？</p>
          <p>A: 詳細請與客服接洽，客服專線:02-12345678。</p>
        </div>
      </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="shop-window" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid h-100">
              <div class="row h-100">
                <div class="col-md-5">
                  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img :src="product.img" class="d-block w-100" alt="...">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <h1>{{product.title}}</h1>
                  <small>說明</small>
                  <h6>{{product.title2}}</h6>
                  <form action="" class="add-shopcart">
                    <br>
                    <div class="num-box">
                      <i class="fas fa-minus-circle" @click="minus(product)"></i>
                      <div class="num">{{product.amountShow}}</div>
                      <i class="fas fa-plus-circle" @click="plus(product)"></i>
                    </div>
                    <h2>NT.{{product.price}}/天</h2>
                    <button class="btn btn-outline-dark addcart" @click="addToCart(product)">加入購物車</button>
                  </form>

                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    <div class="robot-box">
      <i class="fas fa-shopping-cart" data-toggle="modal" data-target="#shopcart"><span class="fcc">{{num}}</span></i>
      <a href="#Home"><i class="fas fa-arrow-alt-circle-up"></i></a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="shopcart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <form action="" class="shop" @submit="productcart(productInCart)">
            <div class="modal-header">
              <h5 class="modal-title">購物清單</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row h-100">
                <div class="col-md-8">
                  <div class="row shop-line">
                    <div class="col-2 fcc">商品</div>
                    <div class="col-2 fcc">品名</div>
                    <div class="col-2 fcc">單價</div>
                    <div class="col-2 fcc">天</div>
                    <div class="col-2 fcc">小計</div>
                    <div class="col-2 fcc"></div>
                  </div>
                  <div class="row product-line" v-for="product in productInCart">
                    <div class="col-2 fcc"><img :src="product.img" alt=""></div>
                    <div class="col-2 fcc">{{product.carttitle}}</div>
                    <div class="col-2 fcc">{{product.price}}</div>
                    <div class="col-2 fcc">{{product.amount}}</div>
                    <div class="col-2 fcc">{{product.sum}}</div>
                    <div class="col-2 fcc"><i class="fas fa-times-circle" style="color: firebrick"
                        @click="remove(product)"></i></div>
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="">姓名</label>
                  <input type="text" required>
                  <label for="">連絡電話</label>
                  <input type="text" required>
                  <label for="">電子郵件</label>
                  <input type="text" required>
                  <div class="pay">
                    <label for="">卡號</label>
                    <input type="text" required maxlength="4">
                    <input type="text" required maxlength="4">
                    <input type="text" required maxlength="4">
                    <input type="text" required maxlength="4">
                    <label for="">到期日</label>
                    <input type="text" required maxlength="4">
                    <label for="">安全碼</label>
                    <input type="text" required maxlength="3">
                  </div>
                  <label for="">收件地址</label>
                  <input type="text" required>
                  <button class="btn" type="submit">結帳</button>
                </div>
              </div>
            </div>
            <div class="modal-footer" style="display: block">
              <h1>總計：{{total}}元</h1>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade others" id="user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <form action="" class="signin" v-if="optionIndex == 0" @submit="signin">
            <div class="modal-header">
              <h5 class="modal-title">會員登入</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="line">
                <input type="text" required placeholder="帳號" v-model="accout"><i class="fas fa-user-alt"></i>
              </div>
              <div class="line">
                <input type="password" required placeholder="密碼" v-model="password"><i class="fas fa-question"></i>
              </div>
              <label for="" class="reset"><u>忘記密碼?</u></label>
              <label for="" @click="optionIndex = 1"><u>註冊會員</u></label>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn">送出</button>
            </div>
          </form>
          <form action="" class="signup" v-else-if="optionIndex == 1" @submit="signup">
            <div class="modal-header">
              <h5 class="modal-title">會員註冊</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="line">
                <input type="text" required placeholder="姓名" v-model="accout1"><i class="fas fa-user-alt"></i>
              </div>
              <div class="line">
                <input type="email" required placeholder="電子郵件" v-model="email"><i class="fas fa-envelope"></i>
              </div>
              <div class="line">
                <input type="text" required placeholder="帳號" v-model="accout1"><i class="fas fa-user-alt"></i>
              </div>
              <div class="line">
                <input type="password" required placeholder="密碼" v-model="password1"><i class="fas fa-question"></i>
              </div>
              <label for="" @click="optionIndex = 0"><u>已有會員?</u></label>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn">送出</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="js/jquery-3.5.1.js"></script>
  <script src="js/bootstrap-4.0.0.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/all.js"></script>
  <script src="js/index.js"></script>
  <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js";
    import { getDatabase } from "https://www.gstatic.com/firebasejs/9.6.1/firebase-database.js"
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyBHOayJKq-YeHnHFgx8KIkMJu99LtZFb7k",
      authDomain: "test-169b3.firebaseapp.com",
      projectId: "test-169b3",
      databaseURL: "https://databaseName.firebaseio.com",
      storageBucket: "test-169b3.appspot.com",
      messagingSenderId: "517124370263",
      appId: "1:517124370263:web:47e5f17335144950ac9812",
      measurementId: "G-3MC8T3PTTB"
    };

    // Initialize Firebase
    globalThis.app = initializeApp(firebaseConfig);
    globalThis.database = getDatabase(app);
  </script>
</body>

</html>